@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedUrlProvider PublishedUrlProvider

@{ var selection = Model.Ancestors().ToArray(); }

<section class="breadcrumb">
    <div class="container">
        @if (selection?.Length > 0)
        {
            <div class="breadcrumb-row">
            @foreach (var item in selection.OrderBy(x => x.Level))
            {
                <a href="@item.Url(PublishedUrlProvider)" class="link">@item.Name</a>
            }
            <span class="page-text active">@Model.Name</span>
            </div>
        }
        <h2 class="page-title">@Model.Name</h2>
    </div>
</section>

