@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<footer class="footer">
 <section class="main-footer">
    <img class="background-lines" src="~/static/background-effects/background-lines-white-right.svg" alt="background-lines">
    <div class="container">
       <div class="logotype-column">
          <div class="logotype">
             <img src="~/static/logotypes/logotype-white.svg" alt="logotype-white">
          </div>
          <div>
             <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas voluptates! Voluptates laborum nam ratione minus necessitatibus, iure praesentium.</p>
          </div>
       </div>
       <div class="links-column">
          <div class="link-column">
             <h4 class="title">Company</h4>
             <ul class="links">
                <li><a class="link" href="#">About</a></li>
                <li><a class="link" href="#">Features</a></li>
                <li><a class="link" href="#">Works</a></li>
                <li><a class="link" href="#">Career</a></li>
             </ul>
          </div>
          <div class="link-column">
             <h4 class="title">Help</h4>
             <ul class="links">
                <li><a class="link" href="#">Customer Support</a></li>
                <li><a class="link" href="#">Delivery Details</a></li>
                <li><a class="link" href="#">Terms & Conditions</a></li>
                <li><a class="link" href="#">Privacy Policy</a></li>
             </ul>
          </div>
          <div class="link-column">
             <h4 class="title">Resources</h4>
             <ul class="links">
                <li><a class="link" href="#">Free eBooks</a></li>
                <li><a class="link" href="#">Development Tutorial</a></li>
                <li><a class="link" href="#">How to - Blog</a></li>
                <li><a class="link" href="#">Youtube Playlist</a></li>
             </ul>
          </div>
          <div class="link-column">
             <h4 class="title">Link</h4>
             <ul class="links">
                <li><a class="link" href="#">Free eBooks</a></li>
                <li><a class="link" href="#">Development Tutorial</a></li>
                <li><a class="link" href="#">How to - Blog</a></li>
                <li><a class="link" href="#">Youtube Playlist</a></li>
             </ul>
          </div>
       </div>
    </div>
 </section>

 <section class="secondary-footer">
    <div class="container">
       <div class="copyright-column">
          <p class="text">@DateTime.Now.Year Crito - Consulting Company Inc. All Rights Reserved.</p>
       </div>
       <div class="social-media-column">
          <ul class="social-medias">
             <li class="social-media"><a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
             <li class="social-media"><a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
             <li class="social-media"><a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
             <li class="social-media"><a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
          </ul>
       </div>
    </div>
 </section>
</footer>