@using Crito.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var newsLetterForm = new NewsLetterForm();
}

<section class="subscribe background-color">
    <img class="background-lines" src="~/static/background-effects/background-wavy-lines.svg" alt="background-lines">
    <div class="container">
        <div>
            <h4 class="section-title">@Model.Value("subscribeSectionTitle")</h4>
        </div>
        @using (Html.BeginUmbracoForm("Subscribe", "Home", FormMethod.Post))
        {
            <div>
                <div class="allert" asp-validation-summary="All"></div>
            </div>
            <div class="inputs">
                <input class="input" asp-for="@newsLetterForm.Email" placeholder="username@domain.com*">
                <button type="submit" class="btn subscribe-btn">Subscribe</button>
            </div>
        }
    </div>
</section>